/* 
    Name: Kimbie (dark) 
    Author: Jan T. Sott 
    License: Creative Commons Attribution-ShareAlike 4.0 Unported License 
    URL: https://github.com/idleberg/Kimbie-highlight.js 
*/

/*新添加的内容*/ 
/* ------------------------------------- */ 


/*代码框滚动条(需要可配置，默认为主题主颜色）*/ 
/*不需要可以不用配置这个*/ 
article-container figure.highlight table::-webkit-scrollbar-thumb { 
 background: #0ce0e9 !important 
}

/* ------------------------------------- */

/* Kimbie Comment */ 
.hljs-comment, 
.hljs-quote { 
  color: #d6baad; 
}

/* Kimbie Red */ 
.hljs-variable, 
.hljs-template-variable, 
.hljs-tag, 
.hljs-name, 
.hljs-selector-id, 
.hljs-selector-class, 
.hljs-regexp, 
.hljs- meta { 
  color: #dc3958; 
}

/* Kimbie Orange */ 
.hljs-number, 
.hljs-built_in, 
.hljs-builtin-name, 
.hljs-literal, 
.hljs-type, 
.hljs-params, 
.hljs-deletion, 
.hljs-link { 
  color: #f79a32; 
}

/* Kimbie Yellow */ 
.hljs-title, 
.hljs-section, 
.hljs-attribute { 
  color: #f06431; 
}

/* Kimbie Green */ 
.hljs-string, 
.hljs-symbol, 
.hljs-bullet, 
.hljs-addition { 
  color: #889b4a; 
}

/* Kimbie Purple */ 
.hljs-keyword, 
.hljs-selector-tag, 
.hljs-function { 
  color: #98676a; 
}

/*更改的内容把.hljs改为#article-container figure.highlight .hljs *、
/* --------------------------- ---------- */ 
#article-container figure.highlight .hljs { 
  display: block; 
  overflow-x: auto; 
  background: #221a0f; 
  color: #d3af86; 
  padding: 0.5em; 
}

.hljs-emphasis { 
  font-style: italic; 
}

.hljs-strong { 
  font-weight: bold; 
}


作者: Jerry
連結: https://butterfly.js.org/posts/b37b5fe3/#%E4%B8%8B%E8%BC%89%E5%92%8C%E4%BF%AE%E6%94%B9CSS%E6%96%87%E4%BB%B6
來源: Butterfly
著作權歸作者所有。商業轉載請聯絡作者獲得授權，非商業轉載請註明出處。